<!-- product_create.html -->
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card"style="background-color: #2d8078">
                <div class="card-header text-center" style="color:#f4d9ae;"><h2>Describe your Product</h2></div>
                <div class="card-body" style="color: #f4d9ae;">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <p class="text-center"><button type="submit" class="btn "
                            style="
                              background-color: #cd4f41 !important;
                              color: #f4d9ae;
                            ">Create Product</button></p>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}